<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Style>:root {
    --text-01: #45413E;
    --light-01: #F9F9F9;
    --light-02: #FFFFFF;
    --brand-01: #DB7F67;
    --brand-02: #F4CFC6;
    --card-hover: 0px 4px 24px rgba(0, 0, 0, 0.15);
    --card-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    --hover-timing: all 0.2s ease;
    --nav-card-size: 240px;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    scroll-behavior: smooth;


}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    transition: var(--hover-timing);

    background: var(--light-01);
	
	width: 100vw;
	overflow-x: hidden;

}

header {
    /*    width: 100%;*/
    height: auto;
    position: sticky;
    top: 0;
    /*    border: 1px solid red;*/
    z-index: 100;
}

.banner {
    background: var(--brand-01);
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

nav {
    color: white;
    font-weight: 700;
    height: 64px;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--pg-margin);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;

}

nav ul.navigation-menu {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    position: relative;
    top: 0;
}

nav .navigation-menu a {
    font-size: 16px;
    text-decoration: none;
    color: white;

}

nav .navigation-menu > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    justify-items: center;*/
}

nav .navigation-menu > li > a {
    position: relative;
    /*    border: 1px solid purple;*/
    padding: 0 20px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-items: center;
}

nav .navigation-menu > li:hover ul.subnav {
    visibility: visible;
    opacity: 1;
    top: 64px;

}


nav .navigation-menu > li > ul.subnav {
    /*    border: 1px solid green;*/
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 66px;
    background: var(--light-01);
    box-shadow: var(--card-hover);
    border-radius: 12px;
    opacity: 0;
    transition: var(--hover-timing);
}


nav > #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 8px;
    line-height: 100%;
}

nav > #logo > span {
    font-size: 32px;
}

nav > #utility {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 16px;
}

.card-large,
.card-med {
    /*    border: 1px solid orange;*/
    flex: 1;
    /*    width: var(--nav-card-size);*/

    position: relative;
    display: flex;
    flex-direction: column;
    /*    padding: 24px;*/
    transition: var(--hover-timing);
    cursor: pointer;
}


.card-large {
    box-shadow: var(--card-shadow);
    border-radius: 12px;
    overflow: hidden;
    /*    padding-bottom: 32px;*/
}



.card-large:hover {
    box-shadow: var(--card-hover);
    transform: scale(1.01);
}

.card-med:hover .card-image {
    transform: scale(1.01);
}


.card-image {
    width: 100%;
    /*    height: 90%;*/
    aspect-ratio: 1/1;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--hover-timing);
}

.card-large > .card-image {
    aspect-ratio: 3/2;
}

.card-image > img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;



}

.card-large a {
    text-decoration: none;
    font-weight: 600;
}

.card-large > .card-image > a {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    font-size: 24px;
    line-height: 1.2;
}




.card-large > ul {
    /*    padding: 16px 0 24px;*/
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    flex: 1;
    /*    border: 1px solid blue;*/

    color: var(--text-01);

    padding: 0 40px 40px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
}



.card-large > ul > li a {
    line-height: 32px;
    font-size: 14px;
    /*    border: 1px solid red;*/
}


.card-large#sup-dog,
.card-med#sup-dog > .card-image {
    background: linear-gradient(45deg, #463631 0%, #976C5B 100%);
}


button.btn-outline {
    color: var(--light-01);
    border-color: var(--light-01);
}


.card-large#sup-cat,
.card-med#sup-cat > .card-image {
    background: linear-gradient(45deg, #F6AE6C 0%, #ECBD73 100%);
}


.card-large#sup-bird,
.card-med#sup-bird > .card-image {
    background: linear-gradient(45deg, #EFEFEF 0%, #F2F2F2 100%);
}


.card-large#sup-fish,
.card-med#sup-fish > .card-image {
    background: linear-gradient(45deg, #1E4782 0%, #709DDF 100%);
}


.card-large.card-dark a,
.card-large.card-dark > ul {
    color: var(--text-01);
}

.card-large.card-light a,
.card-large.card-light > ul {
    color: var(--light-01);
}



button {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 48px;
    display: flex;
    flex-direction: row;
    grid-gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



button.btn-outline-light {
    color: var(--light-01);
    background: none;
    color: var(--light-01);
    border: 2px solid var(--light-01);
}

button.btn-outline-dark {
    color: var(--text-01);
    background: none;
    color: var(--text-01);
    border: 2px solid var(--text-01);
}

button.btn-filled-dark {
    color: var(--light-01);
    background: var(--text-01);
    color: var(--light-01);
    border: 2px solid var(--text-01);
}

.btn-outline-dark:hover {
    background: var(--text-01);
    border: 2px solid var(--text-01);
}

.btn-outline-light:hover {
    background: var(--light-01);
    border: 2px solid var(--light-01);
    color: var(--text-01);
}


button:hover,
.btn-outline-dark.btn-hover-color:hover {
    color: var(--light-01);
    border: 2px solid var(--brand-01);
    background: var(--brand-01);
    transition: var(--hover-timing);
    box-shadow: var(--card-hover);
}


section,
footer {
    position: relative;
    width: 100%;
    padding: 0 var(--pg-margin);
}




.heroo {
    font-size: 40px;
   
    height: 400px; /* Ajusta la altura de la sección según tus necesidades */
    background-image: url('imagenes/fondo_pagina_home.png'); /* Verifica la ruta de la imagen aquí */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-size: cover; /* Hace que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 48px; /* Ajusta el espacio entre elementos si es necesario */
}




.btn-group {
    display: flex;
    flex-direction: row;
    grid-gap: 16px;
}

section.hero h1 {
    font-size: var(--hero-text);
    font-weight: 600;
    line-height: 1.2;
    width: 40%;

    color: var(--text-01);
}

.card-med {
    width: var(--nav-card-size);
    height: auto;
    /*    border: 1px solid green;*/
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.card-med > a {
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
    padding: 12px 16px 0px;
}

.card-med > a > span {
    width: 100%;
    /*    border: 1px solid blue;*/
}

.card-med > a > span:nth-of-type(1) {
    width: 100%;
    /*    border: 1px solid blue;*/
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.card-med > a > span:nth-of-type(2) {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-gap: 6px;
}

.card-med > a > span:nth-of-type(2) > span {
    font-size: 18px;
}

#serv-groom > .card-image {
    background: linear-gradient(45deg, #45828C 0%, #A7D4D8 100%);
}

#serv-board > .card-image {
    background: linear-gradient(45deg, #EDDAA9 0%, #B87D93 100%);
}

.card-med:hover .card-image {
    box-shadow: var(--card-hover);
}


.card-med > .card-image {
    box-shadow: var(--card-shadow);
}

.card-med > .card-image > img {
    width: 80%;
    height: 80%;
    /*    border: 1px solid red;*/
}

section:not(.hero) {
    padding: calc(var(--pg-margin)/2) var(--pg-margin);
}

section h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    color: var(--text-01);
    margin-bottom: 32px;
    /*    padding-bottom: 24px;*/
}


.card-wide {
    flex-direction: row;
    padding: 0;
}

.card-wide .card-image {
    width: 50%;
    border-radius: 0;
}

.card-image img {
    width: 80%;
    height: 80%;
}

.card-wide > ul {
    padding: 40px;
}

.card-wide > ul > li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 24px;
    margin-bottom: 16px;
}


.card-wide .subtitle {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    /*    margin-top: 8px;*/
    margin-bottom: 24px;
}

.card-wide > ul > li span {
    font-size: 16px;
}

.card-large > ul > li:last-of-type {
    margin-bottom: 40px;
}


.card-large button {
    margin-top: auto;
}

#locate > div {
    background: var(--brand-02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    border-radius: 12px;
    box-shadow: var(--card-shadow);
    transition: var(--hover-timing);
    cursor: pointer;
}

#locate > div:hover {
    box-shadow: var(--card-hover);
}

#locate h2 {
    margin-top: 0;
}

#locate p {
    line-height: 1.5;
    margin-bottom: 40px;
    width: 50%;
    text-align: center;
}


.btn-group {
    display: flex;
    flex-direction: row;
    grid-gap: 16px;
}

footer {
    background: var(--text-01);
    padding: 80px 80px 0px;
    margin-top: 80px;
    display: flex;
}



footer ul {
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    box-shadow: none;
    flex: 1;
    color: var(--light-01);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 80px;

}


footer ul li a {
    color: var(--light-01);
    text-decoration: none;
    font-size: 14px;
}


footer ul li {
    color: var(--light-01);
    padding: 0;

}



@media only screen and (max-width: 600px) {
    :root {
        --pg-margin: 16px;
    }

    section.hero {
        aspect-ratio: 1/1;
        padding-top: 64px;

    }

    section.hero h1 {
        --hero-text: 40px;
        width: 80%;
    }



    nav {
        position: relative;
    }

    nav ul.navigation-menu {
        position: absolute;
        position: absolute;
        top: 64px;
        background: var(--light-01);
        left: 0;
        z-index: -1;
        width: 100vw;
    }

    nav ul.navigation-menu li a {
        font-size: 16px;
        /*        padding: 0 12px;*/
        white-space: nowrap;
    }

    nav ul.navigation-menu .subnav {
        display: none;
    }

    nav ul.navigation-menu > li:hover .subnav {
        display: none;
    }


    .btn-group {
        flex-direction: column;
    }

    .shop-pets,
    .services {
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
        width: 100%;
    }

    .services > li {
        display: flex;
        flex-direction: column;
    }

    .services > li > .card-image {
        width: 100%;
    }

    section:not(.hero) {
        padding: var(--pg-margin);
    }

    #locate p {

        width: 80%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }


}

@media only screen and (min-width: 600px) {
    :root {
        --pg-margin: 24px;
    }

    section.hero h1 {
        --hero-text: 40px;
        width: 60%;
    }

    section.hero {
        aspect-ratio: 3/2;
        background-size: 50%;
        background-position: 90% 70%;
        padding-top: 64px;

    }

    nav {
        position: relative;

    }

    nav ul.navigation-menu {
        position: absolute;
        top: 64px;
        background: var(--light-01);
        left: 0;
        z-index: -1;
        width: 100vw;
    }

    nav ul.navigation-menu li a {
        font-size: 16px;
        white-space: nowrap;
    }

    nav ul.navigation-menu .subnav {
        display: none;
    }

    nav ul.navigation-menu > li:hover .subnav {
        display: none;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
    }

    .shop-pets {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }

    .services {
        display: flex;
        flex-direction: column;
        grid-gap: 24px;
    }

    section:not(.hero) {
        padding: var(--pg-margin);
    }

    #locate p {

        width: 60%;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --pg-margin: 48px;
    }

    section.hero h1 {
        --hero-text: 48px;
    }

    section.hero {
        aspect-ratio: 2/1;

    }

    .btn-group {
        flex-direction: row;
    }

    .shop-pets,
    .services {
        display: flex;
        flex-direction: row;
        grid-gap: 24px;
    }

    ul.subnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        padding: 48px;
    }


    nav ul.navigation-menu {
        top: 0;
        z-index: 1;
        background: none;
        width: auto;
        position: relative;
    }

    nav ul.navigation-menu .subnav {
        display: flex;
    }

    nav ul.navigation-menu > li:hover .subnav {
        display: flex;
    }

    #locate p {

        width: 40%;
    }

    footer {


        flex-direction: row;
        text-align: left;

    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        --pg-margin: 80px;
    }

    section.hero h1 {
        --hero-text: 56px;
    }

    nav .navigation-menu > li > ul.subnav {
        padding: 48px;
        grid-gap: 24px;
    }

    section.hero {
        aspect-ratio: 3/1;
        background-size: 30%;
        background-position: 90% 60%;
    }

    .shop-pets,
    .services {
        display: flex;
        flex-direction: row;
        grid-gap: 24px;
    }

    nav ul.navigation-menu {
        top: 0;
        z-index: 1;
        background: none;
        width: auto;
        position: relative;
    }

    ul.subnav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: auto auto;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        padding: 48px;
    }

    nav ul.navigation-menu > li:hover .subnav {
        display: grid;
    }

    #locate p {

        width: 40%;
    }

    footer {


        flex-direction: row;
        text-align: left;

    }

}
#logo{
    position: relative;

top: 10px;   width:100px;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

html,
body {
	width: 100%;
	height: 100%;
	// background: #393e41;
	font-family: "Montserrat", sans-serif;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	height: 100%;
}

.card {
	position: relative;
	height: 28rem;
	width: 20rem;
	aspect-ratio: 5 / 7;
	color: #ffffff;
	perspective: 50rem;
	
	.shadow {
		position: absolute;
		inset: 0;
		background:
			var(--url);
		background-size: cover;
		background-position: center;
		opacity: 0.8;
		filter: blur(2rem) saturate(0.9);
		box-shadow: 0 -1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.7);
		transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
				translate3d(0, 2rem, -2rem);
	}

	.image {
		position: absolute;
		inset: 0;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 40%),
			var(--url);
		background-size: cover;
		background-position: center;
		mask-image: var(--url);
		mask-size: cover;
		mask-position: center;

		&.background {
			transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
				translate3d(0, 0, 0rem);
		}

		&.cutout {
			transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
				translate3d(0, 0, 4rem) scale(0.92);
			z-index: 3;
		}
	}

	.content {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		inset: 0;
		padding: 3.5rem;

		transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
			translate3d(0, 0, 6rem);
		z-index: 4;
	}

	&::after,
	&::before {
		content: "";
		position: absolute;
		inset: 1.5rem;
		border: #e2c044 0.5rem solid;
		transform: rotateX(var(--rotateX)) rotateY(var(--rotateY))
			translate3d(0, 0, 2rem);
	}

	&::before {
		z-index: 4;
	}
	
	&.border-left-behind::before {
		border-left: transparent;
	}
	
	
	&.border-right-behind::before {
		border-right: transparent;
	}
	
	&.border-bottom-behind::before {
		border-bottom: transparent;
	}
}

h2 {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
	text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

p {
	font-weight: 300;
	text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}
#verto {
    padding: 20px;

    align-items: center;
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

#verto:hover {
    background-color: darkgray;
    transform: scale(1.05);
}
#verto:active {
    transform: scale(0.95);
}
#verto {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#verto {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}
    /* Estilos del pie de página */
        footer {
        
            background-color: #222;
            color: #fff;
            padding: 40px 0;
        }

        .social-links {
       
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        .social-links a {
                 left: 700px;
            align-items: center;
            position: relative;
            margin-right: 20px;
        }

        .social-links img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        footer p {
                             left: 700px;
            align-items: center;
            position: relative;
            margin-top: 20px;
            font-size: 14px;
            text-align: center;
        }
                /* Estilos de la sección de clientes */
.clients {
    background: #fff; /* Cambia el color de fondo según tu diseño */
    padding: 4rem 0;
}

.clients .container {
    text-align: center;
}

.clients h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.client-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajusta el número de columnas según tu diseño */
    gap: 20px;
}

.client-item img {
    max-width: 100%;
    height: auto;
}

</Style>
    <header>

        <nav>
              
            <div id="logo">

          
<img id="logo" src="imagenes/logo.png" alt="">
               Normas& <br> Gestion
            </div>
            <ul class="navigation-menu">
                <li><a href="#">SERVICIOS</a>
                  


                <li><a href="#">AGENDAR</a>
                    <ul class="subnav">
                        <li class="card-med" id="serv-groom">
                            <div class="card-image"><img src="https://ouch-cdn2.icons8.com/T11rfGmMKgcStJyAFKNgtOfE79cadabx0DVMnvzA9Pk/rs:fit:368:313/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvNDQx/LzFlYWU4MWY3LWQ1/ZjYtNDM2Ny1hZjM5/LWVmNTFmMGM5Njk4/MS5wbmc.png"></div>
                            <a href="#">
                                <span>Grooming</span>
                                <span>More Info <span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                        </li>
                        <li class="card-med" id="serv-board">
                            <div class="card-image"><img src="https://ouch-cdn2.icons8.com/F5Ea1suZtMYimKDkJr0CJLO_1bju6-bTyT1EuDKEg8s/rs:fit:368:254/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMjcx/LzVjMzE4NWM0LWZh/NTMtNGQ1OS05ZTM2/LTZjYzBhNGU3ODg0/NC5wbmc.png"></div>
                            <a href="#">
                                <span>Boarding</span>
                                <span>More Info<span class="material-symbols-outlined">
                                        arrow_forward
                                    </span></span>
                            </a>
                    </ul>
                </li>
                
                <li>
                    <a href="#">CONTACTANOS</a>
                </li>
            </ul>
            <div id="utility">
                <span class="material-symbols-outlined">
                    search
                </span>
                <span class="material-symbols-outlined">
                    shopping_cart
                </span>

            </div>
        </nav>
    </header>
    <section class="heroo">
        <h1>Impulsa tu transformación y conquista tus objetivos</h1>
        <div class="btn-group">
            <button class="btn-filled-dark"><span class="material-symbols-outlined">
                  
                </span>AGENDAR CITA</button>
            <button class="btn-outline-dark btn-hover-color"><span class="material-symbols-outlined">
                    
                </span> SERVICIOS DISPONIBLES</button>
        </div>

    </section>
    <section>
        <br>
        <h2>PRINCIPALES SERVICIOS</h2>
<br>
<br>
        <ul class="shop-pets">


            <li class="card-large card-dark" id="sup-bird">
                  <h2>Plan Buho (Auditorias Internas) </h2>

              <div class="card border-left-behind">
        <div class="shadow" style="--url: url('https://i.ibb.co/gSBp82C/b-full.png')"></div>
        <div class="image background" style="--url: url('https://i.ibb.co/JpJVJxq/Background.png')"></div>
        <div class="image cutout" style="--url: url('imagenes/istockphoto-93214136-612x612-removebg-preview.png')"></div>
        <div class="content">
            <h2>BUHO</h2>
            <p>Con el plan Buho asegure un exitoso ejercicio de Auditorias Internas bajo las normas ISO con el enfoque de mejora continua  </p>
        </div>
    </div>


    </div>

            </li>








      <li class="card-large card-dark" id="sup-bird">
                  <h2>Plan Colibri (plan Basico) </h2>

              <div class="card border-left-behind">
        <div class="shadow" style="--url: url('https://i.ibb.co/gSBp82C/b-full.png')"></div>
        <div class="image background" style="--url: url('https://i.ibb.co/ZdGBm4K/m-background.png')"></div>
        <div class="image cutout" style="--url: url('https://i.ibb.co/bQNgD6y/b-cutout.png')"></div>
        <div class="content">
            <h2>COLIBRI </h2>
            <p> Con el plan colobri permite establecer la Planeacion Estrategica, la Estructura Organizacional y definicion de procesos esto aplica para todo tipo de organizacion o negocio.</p>
        </div>
    </div>





            </li>


            <li class="card-large card-dark" id="sup-bird">
                  <h2>Plan Puma (Formacion y Capacitacion) </h2>

              <div class="card border-left-behind">
        <div class="shadow" style="--url: url('https://i.ibb.co/gSBp82C/b-full.png')"></div>
        <div class="image background" style="--url: url('https://i.ibb.co/MDBcyMW/b-background.png')"></div>
        <div class="image cutout" style="--url: url('imagenes/HD-wallpaper-black-panther-panthers-big-puma-cat.jpg')"></div>
        <div class="content">
            <h2>PUMA</h2>
            <p>Formate en linea y esta a la vanguardia de la competitiva global. </p>
        </div>
    </div>
                </ul>

            </li>

        

       
        </ul>
    </section>
<a href="" id="verto" >VER TODOS LOS SERVICIOS</a>
    <section>
        <h2>Otros servicios</h2>

        <ul class="services">
            <li class="card-large card-dark card-wide" id="serv-groom">
                <div class="card-image"><img src="imagenes/AGENDAMIENTO-DE-CITAS@2x.png"></div>
                <ul>
                    AGENDAR CITA VIRTUAL<span class="subtitle">Recibe acessoria personaliza agendando una cita</span>
                    <li><a href="#">COSTO CITA</a><span>$80.000</span></li>
                    <li><a href="#">ASESORIA</a><span>INCLUIDA</span></li>
                    <li><a href="#">DURACION</a><span>20-45 MIN</span></li>
                    <button class="btn-filled-dark"><span class="material-symbols-outlined">
                           
                        </span>AGENDAR CITA</button>

                </ul>


            </li>
            <li class="card-large card-dark card-wide" id="serv-board">
                <div class="card-image"><img src="imagenes/istockphoto-1144204158-612x612.jpg"></div>
                <ul>
                    SERVICIO DE EMERGECIA<span class="subtitle">Manejar las No Conformidades o inquietudes siendo auditado….</span>
                    <li><P>¿Te encuentras en medio de una auditoría y de repente, ¡pum!, aparece una No Conformidad  o duda como un fantasma en una casa antigua? ¡No entres en pánico! Aquí te traemos una solucion llamanos…. </P></li>
                    <li><a href="#">COSTO</a><span>$80.000</span></li>
                     <li><a href="#">RESPUESTA</a><span>5-10 MIN</span></li>
                    <button class="btn-filled-dark"><span class="material-symbols-outlined">
                           
                        </span>SOLICITAR LLAMADA</button>
                </ul>

            </li>
        </ul>
    </section>

    <section id="locate">

        <div>
            <h2>Location &amp; Hours</h2>
            <p>Our knowledgeable and friendly staff is always ready to assist you in making the best choices for your furry, feathered, or finned friends.</p>
            <div class="btn-group">
                <button class="btn-filled-dark"><span class="material-symbols-outlined">
pin_drop
</span>Find a Store</button>
                <button class="btn-outline-dark btn-hover-color"><span class="material-symbols-outlined">
contact_support
</span> Contact Us</button>
            </div>
        </div>
    </section>
<section id="clientes" class="clients">
    <div class="container">
        <h2>Nuestros Clientes</h2>
        <div class="client-grid">
            <div class="client-item">
                <img src="imagenes/cliente1.jpg" alt="Cliente 1">
            </div>
            <div class="client-item">
                <img src="imagenes/cliente2.jpg" alt="Cliente 2">
            </div>
            <div class="client-item">
                <img src="imagenes/cliente3.jpg" alt="Cliente 3">
            </div>
            <!-- Agrega más clientes aquí -->
        </div>
    </div>
</section>
    <footer>
        <div class="container">
            <div class="social-links">
                <a href="#" target="_blank"><img src="imagenes/facebook.png" alt="Facebook"></a>
                <a href="#" target="_blank"><img src="imagenes/instagram (1).png" alt="Instagram"></a>
                <a href="#" target="_blank"><img src="imagenes/whatsapp.png" alt="Twitter"></a>
            </div>
            <p>&copy; 2024 Nexus innovations. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
<Script>

const angle = 20;
const rotateCard = window;

const lerp = (start, end, amount) => {
	return (1 - amount) * start + amount * end;
};

const remap = (value, oldMax, newMax) => {
	const newValue = ((value + oldMax) * (newMax * 2)) / (oldMax * 2) - newMax;
	return Math.min(Math.max(newValue, -newMax), newMax);
};

window.addEventListener("DOMContentLoaded", (event) => {
	const cards = document.querySelectorAll(".card");
	cards.forEach((e) => {		
		e.addEventListener("mousemove", (event) => {
			const rect = e.getBoundingClientRect();
			const centerX = (rect.left + rect.right) / 2;
			const centerY = (rect.top + rect.bottom) / 2;
			const posX = event.pageX - centerX;
			const posY = event.pageY - centerY;
			const x = remap(posX, rect.width / 2, angle);
			const y = remap(posY, rect.height / 2, angle);
			e.dataset.rotateX = x;
			e.dataset.rotateY = -y;
		});
		
		e.addEventListener("mouseout", (event) => {
			e.dataset.rotateX = 0;
			e.dataset.rotateY = 0;
		});
	});
	
	const update = () => {
		cards.forEach((e) => {
			let currentX = parseFloat(e.style.getPropertyValue('--rotateY').slice(0, -1));
			let currentY = parseFloat(e.style.getPropertyValue('--rotateX').slice(0, -1));
			if (isNaN(currentX)) currentX = 0;
			if (isNaN(currentY)) currentY = 0;
			const x = lerp(currentX, e.dataset.rotateX, 0.05);
			const y = lerp(currentY, e.dataset.rotateY, 0.05);
			e.style.setProperty("--rotateY", x + "deg");
			e.style.setProperty("--rotateX", y + "deg");
		})
	}
	setInterval (update,1000/60)
});



</Script>
</html>